---
import PageLayout from '@/layouts/PageLayout.astro';
import '@/styles/pages/whats-new.css';
---

<PageLayout
  title="ID and Passport Extraction"
  description=""
  canonicalUrl="https://www.formx.ai/tools/id-and-passport-extraction"
>
  <section class="title-2 bg-f7f8fc">
    <div class="w-layout-blockcontainer pagetitle__container mt-60 w-container">
      <h1 class="pricing-title mb-0">
        <span class="heading-gradient">Passport OCR Trial for&#x2028;<br /></span>Effortless ID Extraction
      </h1>
      <p class="section__header__content mb-40">
        Experience the future of document processing with our <span class="font-weight-700">free Passport OCR trial.</span> &#x2028;Effortlessly extract data from your passports and other IDs with industry-leading accuracy.
      </p>
      <div class="w-embed w-iframe">
        <iframe src="https://widgets.formx.ai/id-card-passport/" style="width: 100%; height: 600px" frameBorder="0"></iframe>
      </div>
    </div>
  </section>

  <div class="section product-section bg-f7f8fc">
    <div class="container-default w-container">
      <div class="product-2-block-wrapper m-reverse">
        <div class="product-2-block-text-wrapper">
          <img src="/images/pages/converter_privacy.svg" loading="lazy" alt="" />
          <h2 class="product-2-block-heading">Your Data.<br />Your Privacy.<br />Our Promise.</h2>
          <div class="product-2-block-paragraph">We prioritize user privacy and delete your data after processing with ID Card and Passport OCR.</div>
        </div>
        <div class="product-2-block-image-wrapper">
          <img
            src="/images/pages/converter_medical_ocr_compliance@2x.webp"
            loading="lazy"
            width="600"
            sizes="(max-width: 767px) 100vw, 600px"
            alt=""
            srcset="/images/pages/converter_medical_ocr_compliance@2x-p-500.webp 500w, /images/pages/converter_medical_ocr_compliance@2x-p-800.webp 800w, /images/pages/converter_medical_ocr_compliance@2x-p-1080.webp 1080w, /images/pages/converter_medical_ocr_compliance@2x.webp 1248w"
            class="image-rounded"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="section">
    <div class="container-default heading-content w-container">
      <div class="product-heading-wrapper mx-auto mb-60 max-width-800">
        <h2 class="product-heading">What is Passport OCR?&#x2028;<br /><span class="heading-gradient">Unlocking the Power of Passport OCR</span></h2>
        <div class="product-subheading">OCR technology offers a plethora of applications within the insurance industry. Here are some key use cases:</div>
      </div>

      <div class="product-2-block-wrapper mb-60 reverse">
        <div class="product-2-block-text-wrapper gap-0">
          <h2 class="product-2-block-heading">Government Agencies</h2>
          <div class="gradient-divider"></div>
          <ul role="list" class="_2-block-flex-content-list">
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Immigration Checks</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Border Control</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Voter registration</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Driver's license issuance</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Law enforcement investigations</div></li>
          </ul>
        </div>
        <div class="product-2-block-image-wrapper">
          <img
            src="/images/pages/converter_id_whatis-government@2x.webp"
            loading="lazy"
            width="600"
            sizes="(max-width: 767px) 100vw, 600px"
            alt=""
            srcset="/images/pages/converter_id_whatis-government@2x-p-500.webp 500w, /images/pages/converter_id_whatis-government@2x-p-800.webp 800w, /images/pages/converter_id_whatis-government@2x-p-1080.webp 1080w, /images/pages/converter_id_whatis-government@2x.webp 1248w"
            class="image-rounded"
          />
        </div>
      </div>

      <div class="product-2-block-wrapper mb-60 m-reverse">
        <div class="product-2-block-text-wrapper gap-0">
          <h2 class="product-2-block-heading">Financial Institutions</h2>
          <div class="gradient-divider"></div>
          <ul role="list" class="_2-block-flex-content-list">
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Customer onboarding</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Anti-money laundering (AML) compliance</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Know Your Customer (KYC) verification</div></li>
          </ul>
        </div>
        <div class="product-2-block-image-wrapper">
          <img
            src="/images/pages/converter_id_whatis-financial@2x.webp"
            loading="lazy"
            width="600"
            sizes="(max-width: 767px) 100vw, 600px"
            alt=""
            srcset="/images/pages/converter_id_whatis-financial@2x-p-500.webp 500w, /images/pages/converter_id_whatis-financial@2x-p-800.webp 800w, /images/pages/converter_id_whatis-financial@2x-p-1080.webp 1080w, /images/pages/converter_id_whatis-financial@2x.webp 1248w"
            class="image-rounded"
          />
        </div>
      </div>

      <div class="product-2-block-wrapper mb-60 reverse">
        <div class="product-2-block-text-wrapper gap-0">
          <h2 class="product-2-block-heading">Online Businesses</h2>
          <div class="gradient-divider"></div>
          <ul role="list" class="_2-block-flex-content-list">
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Age verification</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Identity theft prevention</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Account registration</div></li>
          </ul>
        </div>
        <div class="product-2-block-image-wrapper">
          <img
            src="/images/pages/converter_id_whatis-online@2x.webp"
            loading="lazy"
            width="600"
            sizes="(max-width: 767px) 100vw, 600px"
            alt=""
            srcset="/images/pages/converter_id_whatis-online@2x-p-500.webp 500w, /images/pages/converter_id_whatis-online@2x-p-800.webp 800w, /images/pages/converter_id_whatis-online@2x-p-1080.webp 1080w, /images/pages/converter_id_whatis-online@2x.webp 1248w"
            class="image-rounded"
          />
        </div>
      </div>

      <div class="product-2-block-wrapper mb-60 m-reverse">
        <div class="product-2-block-text-wrapper gap-0">
          <h2 class="product-2-block-heading">Rental Companies</h2>
          <div class="gradient-divider"></div>
          <ul role="list" class="_2-block-flex-content-list">
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Tenant screening</div></li>
            <li class="_2-block-flex-content-list-item check-4pxtop"><div class="_2-block-flex-content-text-wrap">Background checks</div></li>
          </ul>
        </div>
        <div class="product-2-block-image-wrapper">
          <img
            src="/images/pages/converter_id_whatis-rental@2x.webp"
            loading="lazy"
            width="600"
            sizes="(max-width: 767px) 100vw, 600px"
            alt=""
            srcset="/images/pages/converter_id_whatis-rental@2x-p-500.webp 500w, /images/pages/converter_id_whatis-rental@2x-p-800.webp 800w, /images/pages/converter_id_whatis-rental@2x-p-1080.webp 1080w, /images/pages/converter_id_whatis-rental@2x.webp 1248w"
            class="image-rounded"
          />
        </div>
      </div>
    </div>
  </div>

  <section class="section whats-new">
    <div class="w-layout-blockcontainer container-default w-container">
      <div class="whats-new-last-section">
        <div class="whats-new-content-wrap">
          <h2 class="whats-new-last-section-heading color-white">Expanding Your Toolkit: FormX.ai Beyond Passport OCR</h2>
        </div>
        <a href="/talk-with-us" class="button-primary button-white w-button">Schedule a Demo -&gt;</a>
      </div>
    </div>
  </section>
</PageLayout>
