---
import { SIGNUP_URL, DEMO_CALENDLY_URL } from '@/lib/constants';
---

<div class="customer-gradient">
  <div class="case-study-container">
    <h2 class="bottom-board-h">Streamline your documents,<br />unlock your time</h2>
    <p class="text-block-53">Get started today! Free trials available.</p>
    <div class="flex-block-33">
      <a href={SIGNUP_URL} class="link-block-4 w-inline-block">Try it yourself</a>
      <a href={DEMO_CALENDLY_URL} class="link-block-4 inverse w-inline-block">Schedule Demo</a>
    </div>
  </div>
</div>
